*{
    margin: 0;
    padding: 0;
}

.gray-scrl{
    width: 100%;
    height: 44px;

    background-color: #181a1b;
    justify-content: center;
    display: flex;
    align-items: center ;
}
.gray-scrl-end{
    width: 100%;
    height: 3px;

    background-color: rgb(132 122 108);
}

.gray-scrl h1{
    color: white;
    font-size: 18px;
    margin-left: 50px;
    font-family: 'Gabarito', cursive;

}


.main-text{
    width: 100%;
    margin:auto;
  
    height: 400px;

    display: flex;
 
}
.video-container {
    width: 350px;
    width: 350px;
    border-radius: 50%; 
    overflow: hidden;
}
#video{

        max-width: 100%;
        display: block;

}
.main-text1{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 400px;
}
.main-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
}

.main-text1 h1{
    font-size: 85px;
    font-family: 'Open Sans', sans-serif;


}

.div-space{
    width: 100%;
    height: 120px;
}
.div-space2{
    width: 100%;
    height: 60px;
}
.div-space3{
    width: 100%;
    height: 30px;
}
.main-text1 p{
    margin-left: 14%;
    margin-top: 7%;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    
}

.space-img{
    width:60%;
    height: 600px;
    margin: auto;
}

.space-img img{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
}

.space-img h1{
    color: rgb(175, 169, 158);
    font-size: .75rem;
    line-height: 1.25rem;
    font-family: "Public Sans Web",sans-serif;
    margin-top: 16px;
}
.space-img h2{
    color: rgb(0, 0, 0);
    font-size: .75rem;
    line-height: 1.25rem;
    font-family: "Public Sans Web",sans-serif;
    margin-top: 4px;
}

.sound-template{
    width: 78%;
    margin:auto;
  
    height: 400px;
}

.tempalte-text{
    display: flex;
    margin-top: 10%;
}

.tempalte-text h1{
   margin-top: 4%;
   margin-left: -53px;
   font-size: 45px;
}

.tempalte-text h3{
    font-size: 25px;
    margin-right: 2px;
}

.tempalte-text p{
    margin-top: 10%;
    margin-left: -301px;
    font-size:18px;
    
}


.space-text2{
    width: 60%;
    height: 200px;
}
.line-text{
    width: 100%;
    height: 40px;

}
.line-txt{
    width: 92%;
    height: 1px;
    background-color: grey;
}
.line-text h1{
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    letter-spacing: 3.5px;
    margin-top: 8px;
}


.together-main{
    width: 100%;
    height: 180px;

    display: flex;
}
.describe-text{
    width: 380px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.describe-text h1{
    line-height: 1.65em;
    font-size: 1rem;
    font-family: "Public Sans Web",sans-serif;

}

.icon-text{
    width: 180px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.icon-text img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    
}

.one-project{
    width: 100%;
    height: 500px;

    background-color: #f6f6f6;

    display: flex;
}

.colors-translate-main{
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 50px;

    display: flex;

}
.translate-first{
    width: 45%;
    height: 400px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.translate-together{
    width: 100%;
    height: 200px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.translate-first h1{
    font-family: "inter",sans-serif;
    font-weight: 700;
    line-height: 1.05em;
    font-size: 3rem;
    color: #1b1b1b;
}
.translate-first h2{
    line-height: 1.65em;
    font-size: 1rem;
    font-family: "Public Sans Web",sans-serif;
    color: #1b1b1b;
    font-weight: lighter;
}
.translate-first h3{
    font-family: "inter",sans-serif;
    font-weight: 700;
    line-height: 1.05em;
    font-size: 1.2rem;
    color: #1b1b1b;
}
.translate-secound{
    width: 55%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
.table-txt h1{
    font-family: "inter",sans-serif;
    font-weight: 700;
    line-height: 1.05em;
    font-size: 0.9rem;
    margin-top: 5px;
    color: #1b1b1b;
}

.input-color-div{
    width: 380px;
    height: 380px;
    background-color: aquamarine;
}

.blur-back{
    width: 100%;
    height: 620px;
    background-color: #00000090;

    display: flex;
}
.element-div{
    display: flex;
    width: 500px;
    height: 500px;

    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.foot-half1{
    width: 50%;
    height: 620px;
    
    display: flex;
    color: #ffff;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 10px;
}
.foot-half1 h5{
    font-family: "dm-mono";
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    letter-spacing: 3.5px;
    text-transform: uppercase;

    padding-top: 10px;
}
.foot-half1 h3{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.05em;
    margin-top: 0;
    font-family: "inter",sans-serif;

    padding-top: 10px;
}
.foot-half1 h4{
    font-size: .875rem;
    line-height: 1.65em;
    color: #d1d1d1;
    fill: #d1d1d1;
    font-family: "Public Sans Web",sans-serif;

    padding-top: 10px;
}
.foot-half2{
    width: 50%;
    height: 620px;
    
    display: flex;
    align-items: center;
    justify-content: start;
}

#playButton{
    margin-top: 15px;
}